<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctor appointed page</title>
</head>
<body>

    <h1>doctor appointed page</h1>
    <hr>
    <h3>Name:<%= pendingData.name%></h3>
    <h3>Email:<%= pendingData.email%></h3>
    <h3>phone:<%= pendingData.phone%></h3>
    <h3>age:<%= pendingData.age%></h3>
    <h3>Department:<%= pendingData.department%></h3>

<form method="post" action="/registerPatient/patient?id=<%= pendingData._id%>">
    <h3>Dotors available
        <select name="doctors">

        
 <% for(var i=0;i<doctorData.length; i++){%>
    <option value="<%= doctorData[i].name %>">  <%= doctorData[i].name%></option>
    <%}%>
</select>
<input type="submit" value="Insert"/>
</h3>

</form>
    
  

   
    
</body>
</html>