<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctor appointed page</title>
    <style>
        div.main{
            width:400px;
            height:600px;
            padding:20px;
            border:2px solid red;
        }
       
           
      
    </style>
</head>
<body>

    <h1>doctor appointed page</h1>
    <hr>
   
<div.main>


    
    <label>Name:</label><%= pendingData.name%><br>
    <label>Email:</label><%= pendingData.email%><br>
    <label>phone:</label><%= pendingData.phone%><br>
    <label>age:</label><%= pendingData.age%><br>
    <label>Department:</label><%= pendingData.department%><br>
    
  

<form method="post" action="/registerPatient/patient?id=<%= pendingData._id%>">
    <h3>Dotors available
     <select name="doctors">

        
 <% for(var i=0;i<doctorData.length; i++){%>
    <option value="<%= doctorData[i].name %>">  <%= doctorData[i].name%></option>
    <%}%>
</select>
<input type="submit" value="Insert"/>
</h3>

</div>



</form>
    
  

   
    
</body>
</html>