<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            /* margin:10%; */
           
            width:100vw;
            border-collapse: collapse;
            
        }
        table,td,th{
           
            /* border:1px solid black; */
        }
        #heading{
            height:70px;

            background-color:#8BD6F6;
            
        }
       
        
        th,td{
            padding:40px 45px;
            
        }
        
        tr:nth-child(even){
            background-color: rgb(215, 213, 213);
        }
        caption{
            font-size:2rem;
        }
        .btn{
            /* background-color:gray; */
            
            
        }
        .center{
            text-align: center;
            background-color:#8BD6F6;
            padding:1px 3px;

        }


    </style>
</head>
<body>
   <table>
    <caption> Doctor appointing page</caption>
    <tr id="heading">
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Action</th>
    </tr>
    <% for(i=0;i<data.length;i++){%>
        <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].gender%></td>
            <td><%= data[i].department%></td>
            <td><%= data[i].doctor%></td>
            <td>
                <form action="/doclog/prescribe?id=<%= data[i]._id%>" method="post">
                   
                    <input class="center" type="submit" value="Appoint">
                   
                </form>

            </td>
           
           
        </tr>

    <%}%>
   
   </table>
    
</body>
</html>